<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.1.0.59861 -->
    <meta charset="utf-8">
    <title>Contáctanos</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>



<style>.art-content .art-postcontent-0 .layout-item-0 { padding-top: 0px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<nav class="art-nav">
    <div class="art-nav-inner">
    <ul class="art-hmenu"><li><a href="inicio.html" class="">Inicio</a></li><li><a href="productos.html" class="">Productos</a><ul class=""><li><a href="productos/desktop-pcs.html" class="">Desktop PCs</a></li><li><a href="productos/laptops.html" class="">Laptops</a></li><li><a href="productos/hardware.html" class="">Hardware</a></li><li><a href="productos/accesorios.html" class="">Accesorios</a></li></ul></li><li><a href="contactanos.html" class="active">Contáctanos</a></li></ul> 
        </div>
    </nav>
<header class="art-header">

    <div class="art-shapes">
        <div class="art-object0"></div>

            </div>

<h1 class="art-headline">
    <a href="#">OTS Technology</a>
</h1>
<h2 class="art-slogan">all you need to know about technology</h2>





                        
                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <div class="art-postmetadataheader">
                                        <h2 class="art-postheader"><span class="art-postheadericon">Contáctanos</span></h2>
                                    </div>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <p>OTS Techonology es una empresa que se dedica a la distribución y venta de articulos tecnológicos de la mejor calidad y precio la cual nos caracteriza. Realizamos envíos dentro de la provincia y a nivel nacional, así mismo nuestras ventas van al por mayor y menor.</p><h2>Dirección</h2><p>Pichincha y 6ta Oeste.<br>Machala.</p><p>Telefono.<br>0992531320 - 0982826913 - 0983706297.</p><p>A. <a href="#">http://www.ots-technology.com</a><br>A. <a href="#">ots-technology</a><a href="#">@gmail.com</a></p>
    </div>
    </div>
</div>
</div>


</article></div>
                        <div class="art-layout-cell art-sidebar1"><div class="art-block clearfix">
        <div class="art-blockcontent"><p><span style="font-family:'Century Gothic';font-size:20px;color:rgb(220, 143, 9);">13/09/20</span></p><p>Desktop PCs.</p><p><a href="productos/desktop-pcs.html">Read more...</a></p><br><p><span style="font-family:'Century Gothic';font-size:20px;color:rgb(220, 143, 9);">13/09/20</span></p><p>Hardware.</p><p><a href="productos/hardware.html">Read more...</a></p><br><p><span style="font-family:'Century Gothic';font-size:20px;color:rgb(220, 143, 9);">13/09/20</span></p><p>Laptops.</p><p><a href="productos/laptops.html">Read more...</a></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><p><a href="https://www.facebook.com/henvisi"><img width="64" height="64" alt="" src="images/facebook.png" class=""></a><a href="https://twitter.com/steelpault"><img width="64" height="64" alt="" src="images/twitter.png" class=""></a></p><br><p><br></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><p>Comunícate con nosotros.</p><p><a href="#" style=" font-size: 13px;">ots-technology@gmail.com</a></p></div>
</div></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
<p>® Todos los Derechos Reservados por OTS Technology 2020.</p><br><br>
  </div>
</footer>

</div>


</body></html>