<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.1.0.59861 -->
    <meta charset="utf-8">
    <title>Página Nueva</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="../style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="../style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="../style.responsive.css" media="all">


    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <script src="../script.responsive.js"></script>



<style>.art-content .art-postcontent-0 .layout-item-0 { border-top-width:1px;border-top-style:solid;border-top-color:#A9B2BC;margin-top: 5px;margin-bottom: 5px;  }
.art-content .art-postcontent-0 .layout-item-1 { padding-right: 10px;padding-left: 10px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<nav class="art-nav">
    <div class="art-nav-inner">
    <ul class="art-hmenu"><li><a href="../inicio.html" class="">Inicio</a></li><li><a href="../productos.html" class="active">Productos</a><ul class="active"><li><a href="../productos/desktop-pcs.html" class="">Desktop PCs</a></li><li><a href="../productos/laptops.html" class="">Laptops</a></li><li><a href="../productos/hardware.html" class="active">Hardware</a></li><li><a href="../productos/accesorios.html">Accesorios</a></li></ul></li><li><a href="../contactanos.html">Contáctanos</a></li></ul> 
        </div>
    </nav>
<header class="art-header">

    <div class="art-shapes">
        <div class="art-object0"></div>

            </div>

<h1 class="art-headline">
    <a href="#">OTS Technology</a>
</h1>
<h2 class="art-slogan">all you need to know about technology</h2>





                        
                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); width: 163px; max-width: 360px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p><h3></h3><h3></h3><p><a href="#"></a></p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); width: 163px; max-width: 360px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p><h3></h3><p><a href="#"></a></p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 183px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); width: 163px; max-width: 360px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p><h3></h3><p><a href="#"></a></p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 183px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); width: 163px; max-width: 360px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); max-width: 360px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); max-width: 360px; ">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 183px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); max-width: 360px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 183px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); max-width: 360px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); max-width: 360px; ">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); max-width: 360px; ">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 183px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); max-width: 360px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p>
    </div><div class="art-layout-cell layout-item-1" style="width: 25%" >
        <h3>Hello!</h3><div class="image-caption-wrapper" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 183px;"><img src="../images/shutterstock_62287657-01.jpg" alt="an image" class="art-lightbox" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(185, 185, 177); border-right-color: rgb(185, 185, 177); border-bottom-color: rgb(185, 185, 177); border-left-color: rgb(185, 185, 177); max-width: 360px;">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</div><p>Mauris amet cubilia ornare venenatis magna vestibulum nibh nulla proin praesent interdum tristique tellus. Ipsum porttitor arcu nunc viverra hendrerit in rutrum nulla eget eget tincidunt. Turpis dapibus nec id aenean.</p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div></div>


</article></div>
                        <div class="art-layout-cell art-sidebar1"><div class="art-block clearfix">
        <div class="art-blockcontent"><p><span style="font-family:'Century Gothic';font-size:20px;color:rgb(220, 143, 9);">13/09/20</span></p><p>Desktop PCs.</p><p><a href="../productos/desktop-pcs.html">Read more...</a></p><br><p><span style="font-family:'Century Gothic';font-size:20px;color:rgb(220, 143, 9);">13/09/20</span></p><p>Hardware.</p><p><a href="../productos/hardware.html">Read more...</a></p><br><p><span style="font-family:'Century Gothic';font-size:20px;color:rgb(220, 143, 9);">13/09/20</span></p><p>Laptops.</p><p><a href="../productos/laptops.html">Read more...</a></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><p><a href="https://www.facebook.com/henvisi"><img width="64" height="64" alt="" src="../images/facebook.png" class=""></a><a href="https://twitter.com/steelpault"><img width="64" height="64" alt="" src="../images/twitter.png" class=""></a></p><br><p><br></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><p>Comunícate con nosotros.</p><p><a href="#" style=" font-size: 13px;">ots-technology@gmail.com</a></p></div>
</div></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
<p>® Todos los Derechos Reservados por OTS Technology 2020.</p><br><br>
  </div>
</footer>

</div>


</body></html>